each employee in employees
  .employee
    img.employee__photo(src=employee.photoUrl, alt=employee.name)
    h2.employee__name #{employee.name}
    .employee__position #{employee.position}
    .employee__description #{employee.description}
    ul.employee__social
      each link in employee.social
        li.employee__social-link 
          a(href=link.url) #{link.name}
#team-carousel
  .team-carousel__info-wrapper
    .team-carousel__info
        h2.employee__name #{employees[0].name}
        .employee__position #{employees[0].position}
        .employee__description #{employees[0].description}
        ul.employee__social
          each link in employees[0].social
            li.employee__social-link 
              a(href=link.url) #{link.name}
    .team-carousel__navigation
      .next
        .thumb
          img(src=employees[1].photoUrl, width="90", height="120")
        .text
          | NEXT →
          .name #{employees[1].name}
      .prev
        .thumb
        .text
          | ← PREV
          .name
  .team-carousel__photos
     img.employee__photo(src=employees[0].photoUrl, alt=employees[0].name)
